* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  .head-div{
    background-color: black;
  }
  .ctn {
    width: 80%;
    margin: 0 auto;
    height: 500px;
    border: 1px solid red;
    display: flex;
    flex-direction: column;

    .navbar {
      border: 1px solid blue;
      height: 20%;
      padding: 3% 0;
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #fff;

      .navbar-divs1,
      .navbar-divs2,
      .navbar-divs3 {
        border: 1px solid green;
        width: 20%;
      }
    }

    .navbar-bottom {
      border: 1px solid yellow;
      height: 80%;
      display: flex;
      justify-content: space-between;

      .navbar-text,
      .navbar-picture {
        border: 1px solid blueviolet;
        width: 49%;
      }
    }
  }
}